@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

.bg-primary-custom {
  background-color: #41431b;
}
.bg-secondary-custom {
  background-color: #f8f3e1;
}
.text-primary-custom {
  color: #f8f3e1;
}
.text-secondary-custom {
  color: #41431b;
}

.testimonial-swiper {
  --swiper-navigation-color: #41431b;
  --swiper-pagination-color: #41431b;
}
