@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

.bg-primary-custom {
  background-color: #41431b;
}
.bg-secondary-custom {
  background-color: #e3dbbb;
}
.text-primary-custom {
  color: #e3dbbb;
}
.text-secondary-custom {
  color: #41431b;
}
